body{
    margin: 0 auto;
    padding: 0;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Teko', sans-serif;
    background-color: #dbdedb;
    color: #060303;
    width: 100%;
    max-width: 1200px;
}
